/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.custom-button:hover{

    -fx-background-color: #00ddff;

}

.scene{
	-fx-background-color: #ffffff;
}

.Hbox{
	-fx-background-color: #aaaaaa;
}

.Hbox:hover{
	-fx-background-color: #00ddff;
}

.Hbox2{
	-fx-background-color: #cccccc;
}

.Hbox2:hover{
	-fx-background-color: #00ddff;
}

.ComfirmButton{
	-fx-background-color: #4878C0;
}

.CancelButton{
	
	-fx-background-color: #dddddd;
}